@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(106, 103, 155, 0.942) 0%,
    rgba(164, 135, 200, 1) 35%,
    rgba(0, 159, 255, 1) 100%
  );
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card-container {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.login-card-logo img {
  width: 300px;
  transition: transform 0.5s ease;
  
}

.login-card-logo img:hover {
  transform: rotate(45deg)
}

.login-card-navbar {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  margin: 20px;
  margin-top: 25px;
  padding-right: 15px;
}

.login-card-navbar a {
  padding: 6px;
  text-decoration: none;
  color: #090909;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  
}

.login-card-navbar a:hover {
  color: #cfcecf;
  text-shadow: 5px 2px 5px rgba(9, 9, 9, 0.3);
  transition: text-shadow 0.3s ease;
}

.login-card-navbar a.active {
    color: #cfcecf;
}

.login-card-header h1 {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 10px;
}

.login-card-header p {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.login-card-form {
  position: relative;
}

.login-card-form {
  display: flex;
  flex-direction: column;
}

.first-form,
.second-form {
  display: flex;
  margin: 3px;
  padding-top: 5px;
  margin-right: 25px;
}

.material-symbols-outlined {
  margin-right: 10px;
}

.first-form input,
.second-form input {
  border-radius: 15px;
  padding: 4px;
  text-indent: 5px;
  width: 180px;
  border: 2px solid #090909;
}

.login-card-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.login-card-socials svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  text-decoration: none;
  color: #090909;
  transition: background-color 0.3s, color 0.3s;
}

.login-card-socials svg:hover {
  color: #cfcecf;
}

.checkbox-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.checkbox  {
  display: flex;
  margin-top: 5px;
  margin-left: 40px;
}

.checkbox label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.newAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.newAccount button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #090909;
  font-size: 20px;
  width: 150px;
  height: 30px;
  border-radius: 15px;
  background: #cfcecf;
  border: 2px solid #090909;
}

.newAccount button:hover {
  background-color: rgba(77, 138, 195, 0.8); 
   
}

.newAccount button:active {
  transform: translateY(2px); /* Утапливаем кнопку */
  box-shadow: none; /* Убираем тень при нажатии */
}

.forgot-password {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #090909;
}

.forgot-password:hover {
  color: #cfcecf;
}